@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
  
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
nav .nav-item {
  margin-left: 2rem;
  font-family: 'Arial';
  font-size: 22px;
}

.nav-link {
  text-decoration: none;
}

nav .button-1 {
  background-color: #00e0c1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 12px;
  font-size: 20;
  border: none;
  color: white;
}

.logo{
	width: 75%;

}

body{
  background-color: #000000;

}

section .content {
	min-height: 500px;
  color: #ffffff;
  padding-right: 200px;
  padding-left: 200px;
	
}
section .content h2 {
	font-family:Arial;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  
}
section .info {
	padding-top: 100px;
  padding-bottom: 100px;
	font-family:Arial;
  font-weight: 400;
  font-size: 21px;
  
}
section #overview-section{
  background-image: url('images/bim.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section .content #overview-section{
	
  
  
}
section .overlay {
  background: rgb(192,72,72,0.5);
  width: 100%;
}
section #mission-section{
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
section  .content #goals-section{

  
 
}section  .content #mission-section{
  

}section  .content #components-section{
 
}